<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <p>To Get Type Carrier <a href="http://localhost:62272/sql/typecarrier">this link</a>.</p>

    <p>To Get Carrier <a href="http://localhost:62272/sql/carrier">this link</a>.</p>

    <p>To Get Shipments <a href="http://localhost:62272/sql/shipments">this link</a>.</p>

    <p>To Get Orders <a href="http://localhost:62272/sql/order">this link</a>.</p>

    <p>To Get Bols <a href="http://localhost:62272/sql/bol">this link</a>.</p>

</body>
</html>